{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}" />
<title>Proyecto</title>

</head>
<body>
<div style="width:50%;margin:0 auto; font-size:250%">
   <h1>Proyecto.Ejemplo incorporación Bootstrap DJANGO.</h1>
   <h1><a href="https://github.com/joseSantorcuato/DJANGO2">Manual Django</a></h1>

   <table>
       <tr>
           <th>Nombre Proyecto</th>
           <td>{{ nom }}</td>
       </tr>
       <tr>
           <th>Autor</th>
           <td>{{ autor }}</td>
       </tr>

   </table>
</div>
</body>
</html>
